:host
	display flex
	flex-direction column
	align-items stretch
	cursor pointer
	margin 0.5em
	margin-top 1em
	border-top solid 1px #555
	overflow hidden

	.select
		height 2em
		outline none
		border none
		opacity 0.5
		padding 0 0.5em
		text-align-last center
		background-color white

		&.__selected
			opacity 1

