:host
	$time = 0.2s
	cursor pointer
	display inline-block
	perspective 10em
	border-radius 0.28em
	user-select none
	contain layout
	margin 0.5em

	& + &
		margin-left 0

	.content
		display flex
		flex-direction collumn
		justify-content center
		align-items center
		color white
		size 100%
		padding 0.5em 1em
		line-height 1em
		min-height 2em
		min-width 3em
		position relative
		border-radius 0.2em
		transition transform $time, box-shadow $time
		will-change transform, box-shadow
		overflow hidden
		text-align center
		contain content layout style
		border 1px solid white

		&:active
			box-shadow inset 0 0 1em rgba(black, 0.1)


		/* Полжоения кнопкки */
		&.__left
			transform rotateY(-25deg) scale(0.95, 0.9) translateX(-0.3em)

			.__shadow-left
				opacity 1

		&.__right
			transform rotateY(25deg) scale(0.95, 0.9) translateX(0.3em)

			.__shadow-right
				opacity 1

		&.__bottom
			transform rotateX(-35deg) scale(0.9) translateY(0.1em)

			.__shadow-bottom
				opacity 1

		&.__top
			transform rotateX(35deg) scale(0.9) translateY(-0.1em)

			.__shadow-top
				opacity 1

