:host
	display block
	absolute top -5% left -5%
	size 110%
	z-index 0
	background-color #444
	background-image url(http://mirgif.com/11/gif45.gif)
	background-size cover
	background-position center
	filter blur(10px)

