:host
	display flex
	//background-color red
	flex-direction column
	flex-grow 1

	.panel
		display flex
		flex-direction row
		background-color #333
		justify-content space-between
		flex-shrink 0

	.users
		//background-color green
		flex-grow 1
		overflow auto

		.user
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			//background-color aquamarine
			padding-left 0.5em
			color white

			&:hover
				background-color #d3c5b4
				color #333333
