:host
	display flex
	flex-direction column
	flex-grow 1

	.panel
		display flex
		flex-direction row
		background-color rgba(#333, 0.5)
		justify-content space-between
		flex-shrink 0

	.users
		flex-grow 1
		overflow auto

		.user
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			padding-left 0.5em
			color white
			text-shadow 0 0 1em rgba(black, 0.5)

			&:hover
				background-color rgba(black, 0.2)
