:host
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding 0.5em 1em
	text-shadow none
	cursor pointer

	&:hover
		background-color rgba(black, 0.4)

	&.__active
		background-color rgba(black, 0.4)
		text-shadow inherit



