:host
	display flex
	flex-direction column
	align-items stretch
	flex-grow 1

	&.__vertical
		flex-direction row

		& > .header
			flex-direction column

			& > .titles
				flex-direction column

	.header
		background-color #4c4c4c
		color #ddd
		display flex
		flex-direction row
		flex-shrink 0
		position relative
		z-index 1

		.titles
			display flex
			flex-direction row

	.content
		position relative
		flex-grow 1
		display flex
		flex-direction column
		z-index 0
		overflow hidden
		perspective 50em

